<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Immoplus</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>immoplus</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FLTEnableImpeller</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
		<string>sms</string>
		<string>tel</string>
		<string>mailto</string>
		<string>whatsapp</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>comgooglemaps</string>
		<string>baidumap</string>
		<string>iosamap</string>
		<string>waze</string>
		<string>yandexmaps</string>
		<string>yandexnavi</string>
		<string>citymapper</string>
		<string>mapswithme</string>
		<string>osmandmaps</string>
		<string>dgis</string>
		<string>qqmap</string>
		<string>here-location</string>
		<string>tomtomgo</string>
		<string>copilot</string>
		<string>com.sygic.aura</string>
		<string>nmap</string>
		<string>kakaomap</string>
		<string>tmap</string>
		<string>szn-mapy</string>
	</array>
	<key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>yourdomain.com</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                <false/>
            </dict>
       </dict>
    </dict>
	<!-- Deeplink fix redirect -->
	<key>FlutterDeepLinkingEnabled</key>
    <false/>
	<!-- FACEBOOK&GOOGLE CONFIG START HERE -->
	<key>CFBundleURLTypes</key>
	<array>
		<!-- Facebook + Google merged -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb505592098598027</string>
				<string>com.googleusercontent.apps.1003203724496-0ap650ojm96k6c24vlf8ql7gapje005i</string>
			</array>
		</dict>
		
		<!-- HTTPS Deeplink -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
		</dict>
	</array>

	<key>FacebookAppID</key>
	<string>505592098598027</string>
	<key>FacebookClientToken</key>
	<string>f870bbd7caa1ca5344f9aaeda75fe13b</string>
	<key>FacebookDisplayName</key>
	<string>Immo Plus</string>
<!-- FACEBOOK&GOOGLE CONFIG END HERE -->

	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Immo Plus nécessite l&apos;accès à la caméra pour que vous puissiez personnaliser votre page.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Votre localisation est requise pour des propositions plus adaptées à vos besoins.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Votre localisation est requise pour des propositions plus adaptées à vos besoins.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Votre localisation est requise pour des propositions plus adaptées à vos besoins.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Immo Plus nécessite l&apos;accès à la photothèque pour que vous puissiez personnaliser votre page.</string>
	<key>NSPrivacyAccessedAPITypes</key>
	<array>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryDiskSpace</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>Connaître l&apos;espace disque disponible est crucial pour optimiser le stockage des données téléchargées et éviter d&apos;affecter les performances de votre appareil.</string>
			</array>
		</dict>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryUserDefaults</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>Nous utilisons UserDefaults pour enregistrer vos préférences et améliorer votre expérience utilisateur.</string>
			</array>
		</dict>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryFileTimestamp</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>Nous accédons aux timestamps de fichiers pour optimiser la gestion de cache et réduire le temps de chargement.</string>
			</array>
		</dict>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategorySystemBootTime</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>L&apos;accès au temps de démarrage du système nous aide à diagnostiquer des problèmes et à améliorer la performance de l&apos;application.</string>
			</array>
		</dict>
	</array>
	<key>NSPrivacyTracking</key>
	<false/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<!-- <key>FlutterDeepLinkingEnabled</key>
	<true/> -->
	<key>NSMicrophoneUsageDescription</key>
	<string>Nous avons besoin du microphone pour enregistrer des voix pour les appels audio.</string>
</dict>
</plist>
